#main {

    margin: auto;

}

#logo {
    width: 110px;
    position: absolute;
    left: 31px;
    top: 10px;
}

button {
    padding: 7px 15px;
}

input {

    margin: 20px 0px;
    margin-left: 154px;
    height: 33px;
    border-radius: 25px;
    border-color: #CCC;
    padding-left: 15px;
    width: 500px;
}